<h4 class="card-title">{{ neo.name }}</h4>

<h6 *ngIf="neo.nickname" class="card-nickname">
  "{{ neo.nickname }}"
</h6>

<app-neo-form
  *ngIf="!neo.nickname || pendingNickname"
  [neo]="neo"
  [unsavedNickname]="pendingNickname"
  (submitNickname)="onSubmitNickname($event)"></app-neo-form>

<dl>
  <dt>Est. Diameter:</dt>
  <dd>{{ neo.estimatedDiameter | number:'0.0-3' }} miles</dd>

  <dt>Relative Velocity:</dt>
  <dd>{{ neo.relativeVelocity | number:'0.0-0' }} mph</dd>

  <dt>Miss Distance:</dt>
  <dd>{{ neo.missDistance | number:'0.0-0' }} miles</dd>
</dl>

<div
  class="alert"
  [class.alert-danger]= "neo.isPotentiallyHazardousAsteroid"
>
  {{ getHazardText(neo.isPotentiallyHazardousAsteroid) }}
</div>
