:host {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem 1rem 1rem;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 1rem solid transparent;
  border-top: 1rem solid currentColor;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
