.form {
  display: flex;
}

.input-nickname {
  flex: 1;
  min-width: 6rem;
  background: #24292e;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: inherit;
}

.btn-nickname {
  margin-left: 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid;
  border-radius: 0.25rem;
  flex-shrink: 0;
}
